
body.isChrome #wrapper.visible {
    opacity: 1
}

body {
    position: relative;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('IMG_2468.jpeg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); 
    z-index: -1; 
}

.logo-jubel{
    margin-top: -10px;
    margin-left: -10px;
    width: 60px;
    height: 60px;
}

.text-jubel{
    color: white;
    text-shadow: 1px 1px 8px black;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 650;
    margin-left: 20px;
    white-space: pre-line;
}

.text-jubel{
    pointer-events: auto;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: left; /* Align header content to the left */
    padding: 0px 20px;
    gap: 10px; /* Space between elements */
    background: rgba(145,202,219,0.5);
}



.container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    min-height: 100vh; /* Full height of viewport */
    width: 100%;
    gap: 0;
}

.content {
    background: none;
    padding: 20px;
    flex: 1;
}

.clickable-div:hover {
    background-color: none;
}

.clickable-div {
    display: flex;
    align-items: center;
    justify-content: left;
    width: fit-content; /* Shrink width to fit content */
    cursor: pointer;
    padding: 5px 10px; /* Adjust padding */
    border-radius: 8px;
    transition: 0.3s;
    box-sizing: border-box;
    background: none; /* Remove unwanted background */
}

.clickable-div img {
    pointer-events: auto; /* Ensures the image itself remains clickable */
}

.clickable-link {
    text-decoration: none; /* Remove default underline */
}

.clickable-div {
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    padding: 5px 10px;
}